@font-face {
    font-family: "fuente";
    src: url(Montserrat-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: "fuente";

}
#contenedor{
    width: 100%;
}
#barraSup{
    width: 100%;
    height: 15rem;
    background-color: #3b50d3;
    text-align: center;
}
#title{
    color: white;
    padding-top: 3rem;
    font-size: 3rem;
}
#texto{
    color: white;
    padding-top: 0.5rem;
}
#input{
    padding-left: 1rem;
    margin-top: 2rem;
    width: 85rem;
    height: 3rem;
    border-radius: 50px;
    border: 2px solid #5191db;
    outline: 2px solid #80afe5;
    color: #828282;
}
#info_person{
    margin-left: 1rem;
    width: 98%;
    height: 8rem;
    border: 1px solid #5062d8;
    margin-top: 2rem;
}
#img img{
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin: 1.5rem 3rem;
}
.info{
    display: flex;
    margin: 0.3rem 10rem;
    font-weight: 800;
}
#nombre{
    font-size: 2rem;
    margin-top: 2rem;
}
#descripcion{
    font-size: 1rem;
}
.filtro{
    display: none;
}